<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>预约历史</title>
<link rel="stylesheet" type="text/css" href="/static/css/customize/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,400italic,600,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
<script src="/static/js/jquery.min.js"></script>
</head>

<body>
<div class="header">
  <div class="container">
    <div class="navbar menubar" id="menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar"> <span class="glyphicon glyphicon-align-justify set"></span> </button>
          <a class="navbar-brand logo" href="/">校医院在线预约平台</a>
        </div>
        <div class="navdiv">
          <nav class="collapse navbar-collapse navset" id="myNavbar" role="navigation">
            <ul class="nav navbar-nav navbar-right navstyle navb">
              <li><a href="/login" class="page-scroll active" th:text="${patient.name}">登录</a></li>
              <li><a th:href="@{/myinfo/} + ${patient.patientId}"  class="page-scroll">个人中心</a></li>
              <li><a th:href="@{/appointment/history/} + ${patient.patientId}" class="page-scroll">预约历史</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner" style="background: url(/static/img/images/bg.jpg) no-repeat 0% 0% / 100% 100%;padding: 140px 0px;">
    <div class="container">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">预约历史数据显示</h3>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>预约科室</th>
                <th>医生姓名</th>
                <th>附加信息</th>
                <th>预约状态</th>
                <th>预约时间</th>
                <th>提交时间</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="appointment:${appointmentList}">
                <th scope="row" th:text="${appointment.division}"></th>
                <th scope="row" th:text="${appointment.doctorName}"></th>
                <th scope="row" th:text="${appointment.msg}"></th>
                <th scope="row" th:text="${appointment.appointmentStatus}"></th>
                <th scope="row" th:text="${appointment.appointmentDate}"></th>
                <th scope="row" th:text="${appointment.submitDate}"></th>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

<!--<div class="container" style="background-color: aliceblue;height: 80%">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<h4>预约历史数据显示</h4>-->
      <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th>预约科室</th>-->
          <!--<th>医生姓名</th>-->
          <!--<th>附加信息</th>-->
          <!--<th>预约状态</th>-->
          <!--<th>预约时间</th>-->
          <!--<th>提交时间</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="appointment:${appointmentList}">-->
          <!--<th scope="row" th:text="${appointment.division}"></th>-->
          <!--<th scope="row" th:text="${appointment.doctorName}"></th>-->
          <!--<th scope="row" th:text="${appointment.msg}"></th>-->
          <!--<th scope="row" th:text="${appointment.appointmentStatus}"></th>-->
          <!--<th scope="row" th:text="${appointment.appointmentDate}"></th>-->
          <!--<th scope="row" th:text="${appointment.submitDate}"></th>-->

        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>在线预约平台</p>
      </div>
    </div>
  </div>
</footer>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="application/javascript">
  //发送表单ajax请求
  $("#submission").click(function(){
    $.ajax({
        url:"appointment/submission",
        type:"POST",
        data:JSON.stringify($('#formId').serializeObject()),
        dataType:"text",
        contentType:"application/json",  //缺失会出现URL编码，无法转成json对象
        success:function(data){
            console.log("success:"+data);
            $('#msg').text(data);
        },
        error:function(data){
            console.log("error:"+data);
        }
    });
  });
  /**
   * 自动将form表单封装成json对象
   */
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
      if (o[this.name]) {
        if (!o[this.name].push) {
          o[this.name] = [ o[this.name] ];
        }
        o[this.name].push(this.value || '');
      } else {
        o[this.name] = this.value || '';
      }
    });
    return o;
  };
</script>
</body>
</html>
