<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>个人中心</title>
<link rel="stylesheet" type="text/css" href="/static/css/customize/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,400italic,600,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
<script src="/static/js/jquery.min.js"></script>
</head>

<body>
<div class="header">
  <div class="container">
    <div class="navbar menubar" id="menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar"> <span class="glyphicon glyphicon-align-justify set"></span> </button>
          <a class="navbar-brand logo" th:href="@{/success/} + ${patient.patientId}">校医院在线预约平台</a>
        </div>
        <div class="navdiv">
          <nav class="collapse navbar-collapse navset" id="myNavbar" role="navigation">
            <ul class="nav navbar-nav navbar-right navstyle navb">
              <li><a href="/login" class="page-scroll active" th:text="${patient.name}">登录</a></li>
              <li><a th:href="@{/myinfo/} + ${patient.patientId}"  class="page-scroll">个人中心</a></li>
              <li><a th:href="@{/appointment/history/} + ${patient.patientId}" class="page-scroll">预约历史</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner" style="background-color: aliceblue">
  <div class="container">
    <div class="row">
      <h3>我的个人信息显示</h3> 
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <td>姓名</td><td th:text="${patient.name}"></td>
              </tr>
              <tr>
                <td>性别</td><td th:text="${patient.sex}"></td>
              </tr>
              <tr>
                <td>年龄</td><td th:text="${patient.age}"></td>
              </tr>
              <tr>
                <td>用户名</td><td th:text="${patient.name}"></td>
              </tr>
              <tr>
                <td>密码</td><td th:text="${patient.password}"></td>
              </tr>
              <tr>
                <td>联系方式</td><td th:text="${patient.phoneNumber}"></td>
              </tr>
              <tr>
                <td>地址</td><td th:text="${patient.address}"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>在线预约平台</p>
      </div>
    </div>
  </div>
</footer>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
